// @import "fonts";

body {
    span {
        color: red;
    }
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.modal._active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    padding: 0 20px;
}
.modal-dialog {
    flex: 1 1 500px;
}

.login-page {
    max-width: 500px;
    margin: 50px auto 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    h1 {
        text-align: center;
    }
}
.navbar-nav.links {
    display: flex;
    align-items: center;
    flex-direction: row;
    a.nav-link {
        padding: 5px;
    }
}

.close span {
    padding: 10px;
    color: white;
}

.open-btn {
    margin: 0 0 0 10px;
}

.personal-card {
    max-width: 900px;
    padding: 0 20px;
    margin: 30px auto 0 auto;
}
